@charset "UTF-8";

body {
    background-color: #0a0a0a;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: #fff;
}

main {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

section#top img {
    max-width: 200px;
    margin: 20px;
}

section#btn button {
    background-color: #2060aa;
    color: #fff;

    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;

    padding: 10px;
    margin: 20px;

    border: none;
    border-bottom: 2px solid #174b86;

    cursor: pointer;
}

section#btn button:hover {
    background-color: #174b86;
}

div.episode {
    max-width: 300px;
    margin: 0 auto 20px auto;
    background-color: #fff;
    border-radius: 4px;
    border-bottom: 3px solid #ccc;
}

div.episode h1 {
    color: #2060aa;
    font-size: 20px;
    padding: 15px 15px 5px 15px;
    text-align: center;
}

div.episode img {
    width: 100%;
    border-bottom: 3px solid #174b86;
}

div.episode p {
    color: #2e2e2e;
    text-align: justify;
    font-size: 14px;
    padding: 5px 15px 10px 15px;
}

#s01e01, #s01e02, #s01e03, #s01e04, #s01e05, #s01e06, #s01e07, #s01e08, #s01e09, #s01e10, #s01e11, #s01e12, #s01e13, #s01e14, #s01e15, #s01e16, #s01e17, #s01e18, #s01e19, #s01e20, #s01e21, #s01e22, #s01e23, #s02e01, #s02e02, #s02e03, #s02e04, #s02e05, #s02e06, #s02e07, #s02e08, #s02e09, #s02e10, #s02e11, #s02e12, #s02e13, #s02e14, #s02e15, #s02e16, #s02e17, #s02e18, #s02e19, #s02e20, #s02e21, #s02e22, #s02e23, #s03e01, #s03e02, #s03e03, #s03e04, #s03e05, #s03e06, #s03e07, #s03e08, #s03e09, #s03e10, #s03e11, #s03e12, #s03e13, #s03e14, #s03e15, #s03e16, #s03e17, #s03e18, #s03e19, #s03e20, #s03e21, #s03e22, #s03e23, #s04e01, #s04e02, #s04e03, #s04e04, #s04e05, #s04e06, #s04e07, #s04e08, #s04e09, #s04e10, #s04e11, #s04e12, #s04e13, #s04e14, #s04e15, #s04e16, #s04e17, #s04e18, #s04e19, #s04e20, #s04e21, #s04e22, #s04e23, #s04e24, #s05e01, #s05e02, #s05e03, #s05e04, #s05e05, #s05e06, #s05e07, #s05e08, #s05e09, #s05e10, #s05e11, #s05e12, #s05e13, #s05e14, #s05e15, #s05e16, #s05e17, #s05e18, #s06e01, #s06e02, #s06e03, #s06e04, #s06e05, #s06e06, #s06e07, #s06e08, #s06e09, #s06e10, #s06e11, #s06e12, #s06e13, #s06e14, #s06e15, #s06e16, #s06e17, #s06e18, #s06e19, #s06e20, #s06e21, #s06e22, #s06e23, #s07e01, #s07e02, #s07e03, #s07e04, #s07e05, #s07e06, #s07e07, #s07e08, #s07e09, #s07e10, #s07e11, #s07e12, #s07e13, #s07e14, #s07e15, #s07e16, #s07e17, #s07e18, #s07e19, #s07e20, #s07e21, #s07e22 {
    display:none;
}